@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: #f8f9fd;
}

#root {
  height: 100%;
  display: flex;
  width: 100vw;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.outfit-small {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ant-btn-primary {
  background-color: #334f39;
  border-color: #334f39;
}

.ant-link {
  color: #334f39;
}
.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
.ant-menu-inline-collapsed > .ant-menu-item {
  padding-inline: 16px;
}
.ant-menu-light .ant-menu-item-selected {
  background: #f2f3ff !important;
  border-right: 5px solid #70cca1;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: black;
}

.custom-select .ant-select-focused .ant-select-selector{
 border:1px solid #334f39 !important;
}
.ant-drawer .ant-drawer-header{
  display: none !important;
}

@media (max-width : 620px){
  .res{
   /*  width: 97% !important; */
  }
}